In [1]:
print('Hello from Jupyter')

Hello from Jupyter

In [2]:
my_str = 'Hello'
my_int = 16

print(my_str)
print(my_int)

Hello
16

In [3]:
my_str

'Hello'

In [4]:
my_str
my_int

16

In [5]:
number_of_apples = 5

if number_of_apples < 1:
    print('You have no apples')
elif number_of_apples == 1:
    print('You have one apple')
elif number_of_apples < 4:
    print('You have a few apples')
else:
    print('You have many apples!')

You have many apples!

In [6]:
student_names = ['Alice', 'Bob', 'Carol', 'Dave']
student_names[1]

'Bob'

In [7]:
student_names[0]

'Alice'

In [8]:
student_names[-1]

'Dave'

In [9]:
student_names[0:2]

['Alice', 'Bob']

In [10]:
student_names[1:3]

['Bob', 'Carol']

In [11]:
student_names[:2]

['Alice', 'Bob']

In [12]:
student_names[2:]

['Carol', 'Dave']

In [13]:
student_names.append('Esther')
student_names

['Alice', 'Bob', 'Carol', 'Dave', 'Esther']

In [14]:
student_names.insert(2, 'Xavier')
student_names

['Alice', 'Bob', 'Xavier', 'Carol', 'Dave', 'Esther']

In [15]:
del student_names[2]
student_names

['Alice', 'Bob', 'Carol', 'Dave', 'Esther']

In [16]:
student_names.append('Esther')
student_names.append('Esther')
student_names

['Alice', 'Bob', 'Carol', 'Dave', 'Esther', 'Esther', 'Esther']

In [17]:
student_names = ['Alice', 'Bob', 'Carol', 'Dave']

for student_name in student_names:
    print('Hello ' + student_name + '!')

Hello Alice!
Hello Bob!
Hello Carol!
Hello Dave!

In [18]:
long_names = []
for student_name in student_names:
    # This is our criterion
    if len(student_name) > 4:
        long_names.append(student_name)

long_names

['Alice', 'Carol']

In [19]:
student_names = ['Alice', 'Bob', 'Carol', 'Dave']

student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        student_pairs.append(
            (student_name_0, student_name_1)
        )

student_pairs

[('Alice', 'Alice'),
 ('Alice', 'Bob'),
 ('Alice', 'Carol'),
 ('Alice', 'Dave'),
 ('Bob', 'Alice'),
 ('Bob', 'Bob'),
 ('Bob', 'Carol'),
 ('Bob', 'Dave'),
 ('Carol', 'Alice'),
 ('Carol', 'Bob'),
 ('Carol', 'Carol'),
 ('Carol', 'Dave'),
 ('Dave', 'Alice'),
 ('Dave', 'Bob'),
 ('Dave', 'Carol'),
 ('Dave', 'Dave')]

In [20]:
student_pairs[0]

('Alice', 'Alice')

In [21]:
student_names = ['Alice', 'Bob', 'Carol', 'Dave']

student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        # This is the criterion we added
        if student_name_0 != student_name_1:
            student_pairs.append(
                (student_name_0, student_name_1)
            )

student_pairs

[('Alice', 'Bob'),
 ('Alice', 'Carol'),
 ('Alice', 'Dave'),
 ('Bob', 'Alice'),
 ('Bob', 'Carol'),
 ('Bob', 'Dave'),
 ('Carol', 'Alice'),
 ('Carol', 'Bob'),
 ('Carol', 'Dave'),
 ('Dave', 'Alice'),
 ('Dave', 'Bob'),
 ('Dave', 'Carol')]

In [22]:
student_grade = ('Alice', 'Spanish', 'A-')
student_grade

('Alice', 'Spanish', 'A-')

In [23]:
student_grade[0]

'Alice'

In [24]:
student_grade = ('Alice', 'Spanish', 'A-')
student_name, subject, grade = student_grade

print(student_name)
print(subject)
print(grade)

Alice
Spanish
A-

In [25]:
student_grades = [
    ('Alice', 'Spanish', 'A'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]

for student_name, subject, grade in student_grades:
    if grade.startswith('A'):
        print('Congratulations', student_name,
              'on getting an', grade,
              'in', subject)

Congratulations Alice on getting an A in Spanish
Congratulations Dave on getting an A- in Italian

In [26]:
for student_grade in student_grades:
    if student_grade[2].startswith('A'):
        print('Congratulations', student_grade[0],
              'on getting an', student_grade[2],
              'in', student_grade[1])

Congratulations Alice on getting an A in Spanish
Congratulations Dave on getting an A- in Italian

In [27]:
foreign_languages = {
    'Alice': 'Spanish',
    'Bob': 'French',
    'Carol': 'Italian',
    'Dave': 'Italian',
}
foreign_languages['Carol']

'Italian'

In [28]:
foreign_languages['Zeke']

KeyError: 'Zeke'

In [29]:
'Zeke' in foreign_languages

False

In [30]:
'Alice' in foreign_languages

True

In [31]:
'alice' in foreign_languages

False

In [32]:
foreign_languages['Esther'] = 'French'
foreign_languages

{'Alice': 'Spanish',
 'Bob': 'French',
 'Carol': 'Italian',
 'Dave': 'Italian',
 'Esther': 'French'}

In [33]:
del foreign_languages['Bob']
foreign_languages

{'Alice': 'Spanish', 'Carol': 'Italian', 'Dave': 'Italian', 'Esther': 'French'}

In [34]:
foreign_languages['Esther'] = 'Italian'
foreign_languages

{'Alice': 'Spanish',
 'Carol': 'Italian',
 'Dave': 'Italian',
 'Esther': 'Italian'}

In [35]:
for key in foreign_languages:
    value = foreign_languages[key]
    print(key, 'is taking', value)

Alice is taking Spanish
Carol is taking Italian
Dave is taking Italian
Esther is taking Italian

In [36]:
for key, value in foreign_languages.items():
    print(key, 'is taking', value)

Alice is taking Spanish
Carol is taking Italian
Dave is taking Italian
Esther is taking Italian

In [37]:
student_grade = ('Alice', 'Spanish', 'A')
student_name, subject, grade = student_grades[0]
print(student_name, 'got a grade of', grade, 'in', subject)

Alice got a grade of A in Spanish

In [38]:
record = {
    'name': 'Alice',
    'subject': 'Spanish',
    'grade': 'A',
}
print(record['name'],
      'got a grade of', record['grade'],
      'in', record['subject'])

Alice got a grade of A in Spanish

In [39]:
student_grades = [
    ('Alice', 'Spanish', 'A'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]

student_grades[1]

('Bob', 'French', 'C')

In [40]:
student_grades[1][2]

'C'

In [41]:
student_grade_records = []
for student_name, subject, grade in student_grades:
    record = {
        'name': student_name,
        'subject': subject,
        'grade': grade,
    }
    student_grade_records.append(record)
    
student_grade_records

[{'name': 'Alice', 'subject': 'Spanish', 'grade': 'A'},
 {'name': 'Bob', 'subject': 'French', 'grade': 'C'},
 {'name': 'Carol', 'subject': 'Italian', 'grade': 'B+'},
 {'name': 'Dave', 'subject': 'Italian', 'grade': 'A-'}]

In [42]:
student_grade_records[1]

{'name': 'Bob', 'subject': 'French', 'grade': 'C'}

In [43]:
student_grade_records[1]['grade']

'C'

In [44]:
for record in student_grade_records:
    if record['grade'].startswith('A'):
        print('Congratulations', record['name'], 
              'on getting an', record['grade'], 
              'in', record['subject'])

Congratulations Alice on getting an A in Spanish
Congratulations Dave on getting an A- in Italian

In [45]:
foreign_language_grades = {}
for student_name, subject, grade in student_grades:
    record = {
        'subject': subject,
        'grade': grade,
    }
    foreign_language_grades[student_name] = record
    
foreign_language_grades

{'Alice': {'subject': 'Spanish', 'grade': 'A'},
 'Bob': {'subject': 'French', 'grade': 'C'},
 'Carol': {'subject': 'Italian', 'grade': 'B+'},
 'Dave': {'subject': 'Italian', 'grade': 'A-'}}

In [46]:
foreign_language_grades['Alice']

{'subject': 'Spanish', 'grade': 'A'}

In [47]:
foreign_language_grades['Alice']['grade']

'A'

In [48]:
student_course_grades = {}
for student_name, subject, grade in student_grades:
    student_course_grades[student_name, subject] = grade
    
student_course_grades

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-'}

In [49]:
student_course_grades['Alice', 'Math'] = 'A'
student_course_grades['Alice', 'History'] = 'B'

student_course_grades

{('Alice', 'Spanish'): 'A',
 ('Bob', 'French'): 'C',
 ('Carol', 'Italian'): 'B+',
 ('Dave', 'Italian'): 'A-',
 ('Alice', 'Math'): 'A',
 ('Alice', 'History'): 'B'}

In [50]:
student_report_cards = {}
for student_name, subject, grade in student_grades:
    # If there is no report card for a student,
    # we need to create a blank one
    if student_name not in student_report_cards:
        student_report_cards[student_name] = {}
    student_report_cards[student_name][subject] = grade

student_report_cards

{'Alice': {'Spanish': 'A'},
 'Bob': {'French': 'C'},
 'Carol': {'Italian': 'B+'},
 'Dave': {'Italian': 'A-'}}

In [51]:
student_report_cards['Alice']['Math'] = 'A'
student_report_cards['Alice']['History'] = 'B'

student_report_cards

{'Alice': {'Spanish': 'A', 'Math': 'A', 'History': 'B'},
 'Bob': {'French': 'C'},
 'Carol': {'Italian': 'B+'},
 'Dave': {'Italian': 'A-'}}

In [52]:
student_report_cards['Alice']

{'Spanish': 'A', 'Math': 'A', 'History': 'B'}

In [53]:
student_grade.append('IU Bloomington')

AttributeError: 'tuple' object has no attribute 'append'

In [54]:
del student_grade[2]

TypeError: 'tuple' object doesn't support item deletion

In [55]:
student_grade[2] = 'C'

TypeError: 'tuple' object does not support item assignment